# The strat of the new project

### Checking the data and cleaning if necesary

In [1]:
import pandas as pd
import numpy as np

In [12]:
country_status = pd.read_csv('GLOB.SES.csv', encoding= 'unicode_escape') 
# I have to set encoding = unicode_escape in order to avoid and error that pops up

In [13]:
country_status.head()

   unid wbid      country  year        SES      gdppc  yrseduc  popshare
0     4  AFG  Afghanistan  1970   3.474212  709.00000      NaN  0.003097
1     4  AFG  Afghanistan  1920  26.968016  731.75677      NaN  0.003245
2     4  AFG  Afghanistan  1990   1.269530  604.00000      NaN  0.002347
3     4  AFG  Afghanistan  1960  15.763076  739.00000      NaN  0.003039
4     4  AFG  Afghanistan  2000   2.061114  565.00000      NaN  0.003309

#### What does each column mean?

- UNID: ISO numeric country code (used by the United Nations)

- WBID: ISO alpha country code (used by the World Bank)

- SES: Socioeconomic status score (percentile) based on GDP per capita and
educational attainment (n=174)

- country: Short country name

- year: Survey year

- SES: Socioeconomic status score (1-99) for each of 174 countries

- gdppc: GDP per capita: Single time-series (imputed)

- yrseduc: Completed years of education in the adult (15+) population

- popshare: Total population shares

In [21]:
country_status.shape

(2086, 8)

In [16]:
country_status.dtypes

unid          int64
wbid         object
country      object
year          int64
SES         float64
gdppc       float64
yrseduc     float64
popshare    float64
dtype: object

In [22]:
country_status.isna().sum()
# we have 50% of nulls in yrseduc, this is a problem

unid           0
wbid           0
country        0
year           0
SES            0
gdppc          0
yrseduc     1050
popshare       0
dtype: int64

This column reflects the years of education a person has completed after 15 years old (in average of the country and year)

In [19]:
country_status['yrseduc']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2081   NaN
2082   NaN
2083   NaN
2084   NaN
2085   NaN
Name: yrseduc, Length: 2086, dtype: float64

How effective and real is if we fill this NaN's with the mean values of the column?

In [25]:
country_status['yrseduc'].fillna(country_status['yrseduc'].mean(), inplace=True)

In [28]:
country_status['yrseduc'].value_counts()

3.778166    1050
0.070000      11
0.130000      10
0.040000       8
0.120000       6
            ...
6.870000       1
6.490000       1
7.296700       1
8.213800       1
2.256400       1
Name: yrseduc, Length: 783, dtype: int64

Its a poor metric actually, becasue we have quite variance within this column, so we are going to ignire it a little bit in the study and after that we will try to do something with it

### The data is cleaner now